<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link rel="stylesheet" href="welcome-page.component.css">
</head>
 <!-- DE ADAUGAT: POZE + TEXT LA CE MAI II NEVOIE, LINK LA BUTON CATRE SHOP, LINK LA SOCIAL MEDIAS -->
<body>
  <div class="container">
    <div class="main-content">
      <div class="image-pista">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            <img src="/assets/welcomePhoto.jpg" />
          </div>
        </div>
      </div>
      <div class="main-text">
        <h1>Vinul Sfântului</h1>
        <p>The best wine</p>
        <button>
          <a class="socials" routerLink="/shop">To Shop</a></button>
      </div>
    </div>
    <div class="right">
      <div class="box">
        <div class="image">
          <img src="/assets/organic.png">
        </div>
        <div class="inner-box">
          <h3>100% Organic</h3>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="/assets/affordable.png">
        </div>
        <div class="inner-box">
          <h3>Not Expensive</h3>
        </div>
      </div>
      <div class="box">
        <div class="image">
          <img src="/assets/healthy.png">
        </div>
        <div class="inner-box">
          <h3>Super Healthy</h3>
        </div>
      </div>
    </div>

    <div class="social-links">
      <a class="socials" href="https://www.instagram.com/tole.andi/"><i class="fab fa-instagram"></i></a>
      <a class="socials" href="https://www.facebook.com/tole.andrei/"><i class="fab fa-facebook-f"></i></a>
      <a class="socials" href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
      <a class="socials" href="https://www.yahoo.com/"><i class="far fa-envelope"></i></a>
    </div>
  </div>
</body>
